<div id="tutorial">
  <h1 class="uppercase" style="text-align:center;">
    Labeler Tutorial
  </h1>
  <hr>
  <p *ngIf="showintro" style="text-align:center;">
    Please follow this tutorial to learn how to classify stars
  </p>
  <div class="row">
    <button *ngIf="show0"  class="btn-secondary rounded start-button" (click)="openDialog()">Start</button>
    <button *ngIf="show1" class="btn-secondary rounded start-button" (click)="openDialog1()">Part 2</button>
    <button *ngIf="show2" class="btn-secondary rounded start-button" (click)="openDialog2()">Part 3</button>
    <button *ngIf="show3" class="btn-secondary rounded start-button" (click)="openDialog3()">Part 4</button>
    <button *ngIf="show4" class="btn-secondary rounded start-button" (click)="openDialog4()">Part 5</button>
  </div>
</div>
