<h1 class="uppercase" style = "padding-left:160px">
  Welcome to the LSST Labeler Tutorial
</h1>
<h3 *ngIf="showintro" class="uppercase" style = "padding-left:160px">
  Please press start to begin and follow instructions
</h3>
<div class="row" style = "padding-left:120px">
  <button class="btn-secondary" (click)="openDialog()">Start</button>
  <button *ngIf="show1" class="btn-secondary" (click)="openDialog1()">1</button>
  <button *ngIf="show2" class="btn-secondary" (click)="openDialog2()">2</button>
  <button *ngIf="show3" class="btn-secondary" (click)="openDialog3()">3</button>
  <button *ngIf="show4" class="btn-secondary" (click)="openDialog4()">4</button>
</div>
<div class=container>
  <div class="row">
    <app-space-image></app-space-image>
  </div>
</div>
