h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.round_img {
  border-radius: 50%;
}

.pad-top {
  padding-top: 10%;
}

#label_image {
  width: 100%;
}

.label_option {
  width: 100%;
  margin: 5%;
}

#label_info {
  padding-top: 2%;
}
