h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2{
  color: #000;
  font-family: cursive;
  font-size: 150%;
}

h3{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.round_img {
  border-radius: 50%;
}

.pad-top {
  padding-top: 10%;
}

#label_image {
  width: 100%;
}

.label_option {
  width: 100%;
  margin: 5%;
}

#label_info {
  padding-top: 2%;
}

#label-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.test{
  height:75px;
  width:175px;
}

.loginbutton{
    height:35px;
    width:75px;
}
