.test{
  height:75px;
  width:175px;
}
#label_image {
  width: 100%;
}

.label_option {
  width: 100%;
  margin: 5%;
}

#label_info {
  padding-top: 2%;
}

#JS9 {
  float: right;
}

#label-info {
  font-size: 1.25em;
  padding-left: 2px;
}
