<div class="row">
  <div class="col-9">
    <!-- <img id="space" src={{link}} > -->
    <div class="JS9Menubar" data-style="mac" data-usermenus="true"></div>
    <div class="JS9"></div>
    <!-- <div style="margin-top: 2px;"><div class="JS9Colorbar"></div></div> -->
  </div>
  <div class="col-2">
      <button (click)="LabeledYes()" class="btn-primary rounded">
        <div class="text-buttonLabels">
          <i class="fas fa-check" style="padding-right:5px"></i>
          Yes
          </div>
      </button>
    <div style="padding-top:10px">
      <button (click)="LabeledNo()" class="btn-primary rounded">
        <div class="text-buttonLabels">
          <i class="fas fa-times" style="padding-right:5px"></i>
          No
        </div>
      </button>
    </div>
    <div style="padding-top:10px">
      <button (click)="NextImage()" class="btn-primary rounded">
        <div class="text-buttonLabels">
          Submit
        </div>
      </button>
    </div>
  </div>
</div>
