<div class="row">
  <div class="col-9">
    <img id="space" src={{link}} >
  </div>
  <div class="col-2">
    <button (click)="LabeledYes()" class="btn-primary rounded">
      <i class="fas fa-check" style="padding-right:5px"></i>
      Yes
    </button>
    <button (click)="LabeledNo()" class="btn-primary rounded">
      <i class="fas fa-times" style="padding-right:5px"></i>
      No
    </button>
    <button (click)="NextImage()" class="btn-primary rounded">
      Submit
    </button>
  </div>
</div>
